.container-fluid {
   background-color: black;
    font-size: 18px;
}

/*******************Navbar*************************/
.nav-link {
    color: #40E0D0;
}

.nav-link:hover {
    color: #ffffff;
}

.navbar-nav {
    text-align: right;
}

.navbar-toggler-icon {
    background: url(/bars-solid.svg) center center no-repeat #40E0D0 !important;
}

/******************Hero Image*********************/
.hero {
    width: 100vm;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("illuminated-cityscape-against-blue-sky-at-night-316093.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.hero h1 {
    font-size: 5vw;
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: #40E0D0;
}

.hero h3 {
    color: #40E0D0;
    font-size: 2.5vw;
}

.hero .btn {
    display: block;
    width: 200px;
    padding: 1rem;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
    text-decoration: none;
    font-size: 1.5em;
    border: #000000;
    background-color: #40E0D0;
}

.hero .btn:hover {
    color: #ffffff;
    background-color: #4db6ac;
}

/*****************Modal Form***********************/
.form-group {
    text-align: left;
}
